/* site-wide brand formatting */
body {
    background-image: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-color: #cccccc;
    background-size: cover;
}


#navbar {
   height: 100px;
   padding-top: 30px;
   font-size: 2em;
  background-image: url("../images/navbarbackground.jpg");
}

.titleHeader {
text-align: center;
font-size: 4rem;
color: rgb(68, 133, 187);
font-family: 'Berkshire Swash',
cursive;

}
.mainSectionHeader {

font-family: 'Lobster Two',
cursive;
text-align: center;
color: SlateGrey;
font-size: 3rem;

}

.qustionFont {
font-family: 'Arima Madurai',
cursive;
color: #000066;

}

.arrivalAanDeparture{
font-family: 'Arima Madurai',
cursive;
color: #660066;

}



body{
 background-color: ;
  background-size: cover;
  background-image: url("../images/planerbackground.jpg");
 
}


#main-section {
  margin: 0 auto;
  width: 50%; 
  

 
}

#submit-button{
/* background-color:rgb(174,182,191); */
background-color:rgb(128, 145, 163);
color: #660066;
background-size: auto;
font-size: 1.1rem;
}

#daily-activity {
    /* margin: 0 auto; */
    width: 40rem;
}
/* #daily-activity .content .sub {
    border: 1px solid black;
    background-color: blanchedalmond;
} */